body {
  width: 1500px;
  margin: 0 auto;
  padding: 0;
  font-family: "Times New Roman";
}

.container {
  width: 1500px;
  margin: 0 auto;
}

.page-header {
  min-height: 500px;
  background: url("../img/header-back.jpg") no-repeat top;
  background-size: 1500px;
  background-color: #ffffff;
}

.header-logo {
  width: 260px;
  height: 137px;
  padding: 0 30px;
}

.menu {
  width: 770px;
  height: 137px;
  margin-left: 365px;
  padding-top: 25px;
  list-style: none;
}

.menu ul {
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  padding-right: 25px;
  vertical-align: middle;
}

.menu li:last-child {
  padding-right: 0;
}

.menu a {
  font-size: 12px;
  font-weight: bold;
  color: #1a1a1a;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  line-height: 1.982;
}

.menu a:hover {
  border-bottom: 2px solid #1a1a1a;
}

.about-us {
  height: 1000px;
}

.about-us .title-item {
  float: left;
  width: 50%;
  height: 500px;
  background: url("../img/about-us.jpg") no-repeat center;
  background-size: cover;
}

.title-item h2 {
  position: relative;
  top: 208px;
  left: 245px;
  width: 280px;
  height: 80px;
  font-size: 36px;
  font-weight: bold;
  color: rgb(1, 1, 1);
  text-align: center;
  line-height: 80px;
  border: 10px solid #1a1a1a;
}

.about-us .paragraph-item {
  float: right;
  position: relative;
  width: 50%;
  height: 500px;
  background-color: #f2efef;
}

.about-us .paragraph-item p,
.about-us .title-item h2 {
  margin: 0;
  padding: 0;
}

.about-logo {
  width: 84px;
  height: 58px;
  position: relative;
  top: 95px;
  left: 310px;
}

.paragraph-item .item-first {
  position: absolute;
  top: 180px;
  left: 112px;
  width: 490px;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
}

.paragraph-item .item-second {
  position: absolute;
  top: 250px;
  left: 85px;
  width: 540px;
  font-size: 16px;
  text-align: left;
}

.about-us .gallery ul {
  display: grid;
  grid-template-columns: repeat(6, 250px);
  width: 1500px;
  height: 500px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.about-us .gallery li {
  position: relative;
  width: 250px;
  height: 250px;
}

.gallery-link a {
  display: block;
  opacity: 0;
  position: relative;
  transform: translateY(-100%);
}

.gallery li:hover > img,
.gallery-2 li:hover > img {
  opacity: 0.66;
  transition: 0.5s;
}

.gallery-link li:hover > .zoom {
  opacity: 1;
  transform: translateY(0);
  transition: 0.25s;
}

.gallery-link li:hover > .link {
  opacity: 1;
  transform: translateY(0);
  transition: 0.5s;
}

.gallery-link li:hover > .info {
  opacity: 1;
  transform: translateY(0);
  transition: 0.75s;
}

.gallery-link li:hover > .like {
  opacity: 1;
  transform: translateY(0);
  transition: 1s;
}

.zoom {
  position: absolute;
  width: 30px;
  height: 30px;
  background: url("../img/zoom.png") no-repeat;
}

.link {
  position: absolute;
  width: 20px;
  height: 26px;
  background: url("../img/link.png") no-repeat;
}

.info {
  position: absolute;
  width: 27px;
  height: 27px;
  background: url("../img/info.png") no-repeat;
}

.like {
  position: absolute;
  width: 28px;
  height: 24px;
  background: url("../img/like.png") no-repeat;
}

.gallery .zoom {
  top: -154px;
  left: 110px;
}

.gallery .link {
  top: -120px;
  left: 50px;
}

.gallery .info {
  top: -147px;
  left: 115px;
}

.gallery .like {
  top: -173px;
  left: 185px;
}

.blockquote-block {
  height: 350px;
  background: url("../img/back-blockquote.jpg") no-repeat;
}

.blockquote-block .cite {
  position: relative;
  width: 860px;
  height: 185px;
  padding: 160px 0 0 375px;
}

.cite blockquote {
  width: 750px;
  height: 135px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  color: rgb(242, 239, 229);
  text-align: center;
  line-height: 1.2;
}

blockquote .subscribe {
  padding: 50px 0 0 610px;
  font-size: 14px;
  font-style: italic;
  color: rgb(242, 239, 229);
  text-transform: uppercase;
  line-height: 1.2;
}

.cite .quotes {
  position: absolute;
  font-size: 150px;
  font-style: italic;
  color: rgb(242, 239, 229);
  line-height: 1.2;
  text-align: center;
}

.cite .quotes-1 {
  left: 285px;
  top: -75px;
}

.cite .quotes-2 {
  right: 35px;
  top: -40px;
  transform: rotate(180deg);
}

.team {
  display: inline-block;
  max-width: 1500px;
  max-height: 1000px;
  margin: 0;
  padding: 0;
}

.team .wrapper {
  display: flex;
  flex-wrap: wrap;
}

.team .team-title {
  width: 500px;
  height: 500px;
  background: url("../img/team-back.jpg") no-repeat;
}

.team-title h2 {
  width: 280px;
  height: 80px;
  margin: 190px 0 0 104px;
  padding: 0;
  font-size: 36px;
  font-weight: bold;
  color: rgb(1, 1, 1);
  text-align: center;
  line-height: 80px;
  border: 10px solid #1a1a1a;
}

.team .tattoo-master-1,
.team .tattoo-master-2 {
  width: 500px;
  height: 500px;
}

.team .about-master-1,
.team .about-master-2 {
  width: 500px;
  max-height: 500px;
  background-color: #ccc8b6;
}

.team .arrow-1 {
  margin: -395px 0 0 476px;
}

.about-master-1 h3,
.about-master-2 h3 {
  margin: 125px 0 0 155px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
}

.about-master-2 h3 {
  margin-left: 175px;
}

.about-master-1 p,
.about-master-2 p {
  width: 400px;
  margin: 50px 0 0 48px;
  padding: 0;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: justify;
}

.social-icon {
  display: flex;
  justify-content: space-around;
  width: 400px;
  height: 40px;
  margin: 45px 0 0 48px;
}

.social-icon a {
  font-size: 36px;
  color: #000000;
  text-decoration: none;
}

.social-icon a:hover{
  transform: scale(1.5, 1.5);
  transition: 0.1s;
}

.team .news-letters {
  width: 500px;
  height: 500px;
  background-color: #f2efe5;
}

.team .news-letters h4 {
  margin: 0;
  padding: 158px 0 0 100px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  line-height: 1.286;
  text-align: left;
}

.team .news-letters p {
  width: 196px;
  height: 21px;
  margin: 0 0 40px 0;
  padding: 0 0 0 100px;
  font-size: 12px;
  color: rgb(0, 0, 0);
  line-height: 1;
  text-align: left;
}

.news-subscribe {
  width: 300px;
  height: 100px;
}

.subscribe {
  max-width: 300px;
  height: 40px;
}

.subscribe > input[type="email"] {
  box-sizing: border-box;
  width: 300px;
  height: 40px;
  margin: 0 0 0 100px;
  padding: 0 0 0 20px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #f2efe5;
}

.subscribe > input[type="submit"] {
  width: 100%;
  height: 40px;
  margin: 20px 0 0 100px;
  font-size: 12px;
  color: #ffffff;
  border: none;
  background-color: #9a977a;
  -webkit-appearance: none;
}

::-webkit-input-placeholder { color:rgba(51, 51, 51, 0.451); font-family: Times New Roman; font-size: 12px; font-weight:bold; line-height: 1.75; opacity:0.45;}
::-moz-placeholder { color:rgba(51, 51, 51, 0.451); font-family: Times New Roman; font-size: 12px; font-weight:bold; line-height: 1.75; opacity:0.45;}
:-ms-input-placeholder { color:rgba(51, 51, 51, 0.451); font-family: Times New Roman; font-size: 12px; font-weight:bold; line-height: 1.75; opacity:0.45;}
:-moz-placeholder { color:rgba(51, 51, 51, 0.451); font-family: Times New Roman; font-size: 12px; font-weight:bold; line-height: 1.75; opacity:0.45;}

.twit {
  width: 1500px;
  height: 350px;
  position: relative;
  background-image: url("../img/twit-back.jpg");
}

.twit .fa-twitter {
  margin: 110px 0 0 730px;
  font-size: 48px;
  color: #ccc8b6;
}

.twit a {
  text-decoration: none;
}

.twit a:hover {
  color: #3ac9e8;
  transition: 2s;
}

.twit p {
  width: 950px;
  position: absolute;
  left: 300px;
  right: 300px;
  top: 180px;
  font-size: 22px;
  font-family: "Times New Roman";
  font-weight: bold;
  font-style: italic;
  color: rgb(242, 239, 229);
  line-height: 1.2;
  text-align: left;
  margin: 0;
  padding: 0;
}

.gallery-2 ul {
  display: grid;
  grid-template-columns: repeat(5, 300px);
  width: 1500px;
  height: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery-2 li {
  width: 300px;
  height: 300px;
  position: relative;
}

.gallery-2 .gallery-title {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 600px;
  height: 300px;
  background-color: #afac9c;
}

.gallery-2 .zoom {
  top: -200px;
  left: 130px;
}

.gallery-2 .link {
  top: -165px;
  left: 70px;
}

.gallery-2 .info {
  top: -193px;
  left: 135px;
}

.gallery-2 .like {
  top: -218px;
  left: 202px;
}

.gallery-block .gallery-title h2 {
  width: 280px;
  height: 80px;
  font-size: 36px;
  font-weight: bold;
  color: rgb(1, 1, 1);
  text-align: center;
  line-height: 80px;
  border: 10px solid #1a1a1a;
  margin: 90px auto;
  padding: 0;
}

.feedback {
  height: 900px;
  background-color: #e7e5d0;
}

.feedback .contact-info {
  float: left;
  width: 570px;
  height: 560px;
  padding: 183px 0 0 165px;
}

.contact-info h2 {
  width: 280px;
  height: 80px;
  font-size: 36px;
  font-weight: bold;
  color: rgb(1, 1, 1);
  text-align: center;
  line-height: 80px;
  margin: 0;
  margin-left: 148px;
  padding: 0;
  border: 10px solid #1a1a1a;
}

.contact-info > p {
  width: 490px;
  font-size: 18px;
  text-align: center;
  margin: 75px 0 0 50px;
  padding: 0;
}

.contact-info .contact-details {
  float: left;
  width: 270px;
}

.contact-details a {
  color: #000000;
  text-decoration: none;
}

.contact-info .work-hours {
  float: right;
}

.contact-info > .social-icon {
  padding: 140px 0 0 45px;
}

.contact-info .contact-details p,
.contact-info .work-hours p {
  font-size: 16px;
  margin: 0;
  margin-top: 65px;
  padding: 0;
}

.feedback .form-feedback {
  float: right;
  width: 470px;
  height: 565px;
  padding: 183px 165px 0 0;
}

.form-feedback .appointment {
  width: 470px;
  height: 55px;
}

.appointment > input[type="text"],
.appointment > input[type="email"] {
  width: 470px;
  height: 55px;
  margin: 0;
  padding: 0 0 0 20px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #e7e5d0;
  vertical-align: text-top;
}

.appointment > input[type="email"] {
  margin-top: 60px;
}

.appointment textarea {
  width: 470px;
  height: 220px;
  margin-top: 60px;
  padding: 20px 0 0 20px;
  border: 1px solid rgb(0, 0, 0);
  background-color: #e7e5d0;
  resize: none;
}

.appointment > input[type="submit"] {
  width: 370px;
  height: 60px;
  margin: 60px 0 0 0;
  background-color: #9a977a;
  font-size: 12px;
  color: #ffffff;
  border: none;
  -webkit-appearance: none;
}

.footer {
  width: 1500px;
  height: 500px;
  background-color: #aeaeae;
}

.footer .menu {
  padding-top: 170px;
}

.footer p {
  font-size: 12px;
  font-family: "Roboto";
  color: rgb(0, 0, 0);
  line-height: 1.8;
  text-align: center;
  margin: 0;
  padding: 0;
}

.copyright {
  margin-top: 80px;
}

.about-me {
  display: flex;
  justify-content: space-around;
  width: 400px;
  height: 40px;
  margin: 20px auto 0 auto;
}

.about-me a {
  font-size: 24px;
  color: #000000;
  text-decoration: none;
}

.about-me a:hover{
  transform: scale(1.5, 1.5);
  transition: 0.1s;
}

.back-to-top {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 200px;
  width: 30px;
  height: 30px;
  border-top: 10px solid #9a977a;
  border-right: 10px solid #9a977a;
  margin-right: 60px;
  transform: rotate(-45deg);
  background-color: transparent;
}
